/*menuのカスタマイズ*/
#menu-scroll {
  border: 1px solid #47a89c;/* 枠線 */
  border-top: 5px solid #47a89c;/* トップのライン線 */
  border-bottom: 5px solid #47a89c;/* トップのライン線 */
  border-right: 5px solid #47a89c;/* トップのライン線 */
  border-left: 5px solid #47a89c;/* トップのライン線 */
  box-sizing: border-box;
  width: 100%;
  background-color:#ffffff;
  padding:20px;
  box-shadow:0px 0px 10px 1px rgba(8,64,53,0.5);
}

/* 記事下プロフィールカード */

.entry-footer-profile {
  border: 1px solid #ffff00;/* 枠線 */
  border-top: 5px solid #ffff00;/* トップのライン線 */
  border-bottom: 5px solid #ffff00;/* トップのライン線 */
  border-right: 5px solid #ffff00;/* トップのライン線 */
  border-left: 5px solid #ffff00;/* トップのライン線 */
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
  background-color:#ffffff;
  padding:20px;
  box-shadow:0px 0px 10px 1px rgba(8,64,53,0.5);
}

.entry-footer-profile-title {
  color: #454545;/* プロフィールタイトル文字色 */
  font-size: 110%;
  font-weight: bold;
  padding: .5em 0 .5em .75em;
  /* プロフィールタイトル背景 */
  background: -moz-linear-gradient(0deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
  background: -webkit-linear-gradient(0deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
  background: repeating-linear-gradient(90deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
}

.entry-footer-profile-body {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.entry-footer-profile-left {
  width: 20%;
  padding: 20px;
}

.entry-footer-profile-right {
  width: 80%;
  padding: 20px 20px 20px 0;
}

.entry-footer-profile-icon {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.entry-footer-profile-id {
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}
.entry-footer-profile-description {
  margin-bottom: 10px;
}
/* スマートフォン */
@media only screen and (max-width: 767px) {
.entry-footer-profile-body {
    -webkit-flex-wrap: nowrap; 
    flex-wrap: wrap;
}
  .entry-footer-profile-left {
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  .entry-footer-profile-right {
    width: 100%;
    padding: 0 20px 20px 20px;
}
}
/* フォローボタン */

.entry-footer-follow-buttons {
  text-align: center;
  margin-top: 0;
  width: 100%;
}

.entry-footer-follow-buttons a {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.entry-footer-follow-buttons .inner-text {
  font-size: 11px;
  display: block;
}

.entry-footer-follow-buttons .lg, .content-inner-follow-buttons .fa {
  padding: 15px;
  border-radius: 5px;
  margin: 2px auto;
}

.entry-footer-follow-buttons .hatena {
  color: #38393C;
  background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-hatenablog {
  background: #38393C;
  color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-hatenablog:hover {
  background: #5F6063;
}

.entry-footer-follow-buttons .twitter {
  color: #55acee;
  background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-twitter {
  background: #55acee;
  color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-twitter:hover {
  background: #89C7F7;
}

.entry-footer-follow-buttons .instagram {
  color: #D93177;
  background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-instagram {
  background: #D93177;
  color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-instagram:hover {
  background: #df528d;
}

.entry-footer-follow-buttons .blogicon-rss {
  background: #6cc655;
  color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-rss:hover {
  background: #8EDC7A;
}

/*コピーライト*/
.copyright {
padding: 20px;
text-align: center;
background: #ffffff;
background-color: #ffffff;
font-size: 14px;
color:#000;/*文字の色*/
}

/* To Top */
.toTop-nav {
position: fixed;
bottom: 10px;
right: 10px;
display: -webkit-flex;
display: flex;
padding: 0;
margin: 0;
z-index: 999; }
.toTop-nav li {
  list-style-type: none;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  text-align: center; }
  .toTop-nav li:first-child {
    margin-right: 10px; }
  .toTop-nav li a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px; }
    .toTop-nav li a {
      color: #fff;
      text-decoration: none; }
      .toTop-nav li a:visited {
        color: #fff; }
      .toTop-nav li a:hover {
        color: #fff;
        text-decoration: underline; }
      .toTop-nav li a:active, .toTop-nav li a:focus {
        color: #fff; }
    .toTop-nav li a:hover {
      text-decoration: none; }


      .entry-title {
        color: #0000cd;
        font-weight: bold;
        font-size: 20px;
          padding: 15px 10px;
          background-color: #eee;
          border-bottom: 4px solid #ccc;
        }

      @-webkit-keyframes bound {
        0% {transform: scale(0) translate(0,-500px);}
        50% {transform: scaleX(2) translate(0,200px);}
        70% {transform: scaleY(.5) translate(0,-100px);}
        90% {transform: scaleX(1.5) translate(0,50px);}
        100% {transform: scale(1) translate(0,0);}
      }